<a href="/admin/halls/new">
  <button class="btn">
    New Hall
  </button>
</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    <td>
      <% @halls.each do |i|%>
	        <%= tip.categories[i].name %><% if i + 1 != tip.categories.length %>,<% end %>
      <% end %>
    </td>
    </tr>
  </thead>
  <tbody>


</table>

<a href="/admin/halls/new">
  <button class="btn">
    New Hall
  </button>
</a>
