<a href="/admin/halls/new">
  <button class="btn">
    New Hall
  </button>
</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
  <% @halls.each do |hall| %>
  <tr>
    <td><%= link_to hall.name, admin_tip_path(tip)%></td>
  </tr>
  <% end %>

</table>

<a href="/admin/halls/new">
  <button class="btn">
    New Hall
  </button>
</a>
