<a href="/admin/halls/new">
  <button class="btn">
    New Hall
  </button>
</a>
<table class="table table-striped">
  <thead>
  <% @halls.each do |hall| %>
  <tr>
    <td><%= link_to hall.name, admin_hall_path(hall)%></td>
  </tr>
  <% end %>
  </thead>
  <tbody>


</table>

<a href="/admin/halls/new">
  <button class="btn">
    New Hall
  </button>
</a>
