<div data-role="header" data-position="fixed" data-theme="b">
  <a href="#" data-role="button" data-rel="back" data-theme="a">Back</a>
  <h1>Submit Feedback</h1>
</div>

<div data-role="content">
  We appreciate all feedback on our mobile application! Please let us
  know what we can do to improve.


</div>

<script type="text/javascript">
  $(document).bind('pageinit', function () {
    var initialized = false;
    if (!initialized) {
      $('div.ui-collapsible').bind('click', function () {
        $(this).attr('value', $(this).hasClass('ui-collapsible-collapsed') ? 'closed' : 'open');
      });
      initialized = true;
    }
  });
</script>

<style type="text/css">
  .ui-listview li { font-weight: normal; font-size: 12px; white-space: normal; overflow: visible; }
  .ui-listview li h3 { font-size: 14px; margin-top: 20px; margin-bottom: 5px; }
  .ui-listview li h3.ui-li-heading:first-child { font-size: 16px; margin-top: 10px; }
</style>

