<style>
	#message{
		height: 12em;
		width: 99.4%;
	}
	#feedback-widget{
		display: none;
	}
</style>
<div id="feedback-form">
		<%= form_tag "emailer/submit_feedback" do -%>
			<h2>What would you like to tell us?</h2>
			<%= text_area_tag 'message'%>
			<%= hidden_field_tag 'return_addr', @return_to %>
			<button id="cancel-button" type="button" value="Cancel" onClick="history.back();" >Cancel</button>
			<%= submit_tag 'Submit' %>
	<% end -%>
</div>